.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap10 {
    gap: 10px;
}

.colorfff {
    color: #fff;
}