.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap10 {
    gap: 10px;
}

.colorfff {
    color: #fff;
}

.darkblue {
    color: #281A51;
}

.fs-16 {
    font-size: 16px;
}

.fw-500 {
    font-weight: 500;
}